In [27]:
from nltk.tokenize import word_tokenize
import pandas as pd
from nltk.corpus import stopwords

In [29]:
sent1 = 'It is a good practice for us. '
sent2 = 'It was also good to know about it. '

In [149]:
tokens1 = [x.lower() for x in word_tokenize(sent1)]
tokens2 = [x.lower() for x in word_tokenize(sent2)]

In [31]:
tokens = set(word_tokenize(sent1 + sent2))

In [151]:
tokens = list(tokens)
tokens = [x.lower() for x in tokens]

In [169]:
from collections import defaultdict, Counter

In [171]:
x = Counter(tokens1)

In [174]:
x

Counter({'it': 1,
         'is': 1,
         'a': 1,
         'good': 1,
         'practice': 1,
         'for': 1,
         'us': 1,
         '.': 1})

In [157]:
x3 = defaultdict(int)
x2 = defaultdict(int)

In [159]:
for i in tokens:
    if i in tokens1:
        x2[i]+=1
    else:
        x2[i] = 0

        
    if i in tokens2:
        x3[i]+=1
    else:
        x3[i] = 0

In [161]:
x2, x3

(defaultdict(int,
             {'.': 1,
              'it': 2,
              'us': 1,
              'is': 1,
              'also': 0,
              'know': 0,
              'about': 0,
              'a': 1,
              'was': 0,
              'good': 1,
              'practice': 1,
              'for': 1,
              'to': 0}),
 defaultdict(int,
             {'.': 1,
              'it': 2,
              'us': 0,
              'is': 0,
              'also': 1,
              'know': 1,
              'about': 1,
              'a': 0,
              'was': 1,
              'good': 1,
              'practice': 0,
              'for': 0,
              'to': 1}))

In [178]:
df = pd.DataFrame(data = [x2,x3])
df

   .  it  us  is  also  know  about  a  was  good  practice  for  to
0  1   2   1   1     0     0      0  1    0     1         1    1   0
1  1   2   0   0     1     1      1  0    1     1         0    0   1

In [165]:
df

   .  it  us  is  also  know  about  a  was  good  practice  for  to
0  1   2   1   1     0     0      0  1    0     1         1    1   0
1  1   2   0   0     1     1      1  0    1     1         0    0   1